<!DOCTYPE html>
<html lang="es"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión Inventario CIFPP</title>
    <link rel="icon" type="image/png" href="/Imagenes/logo_centro.png">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
    <h1>Estados</h1>
    <div class="botones">
        <a href="#anyadirTipo"><button>Añadir un tipo de objeto</button></a><br/>
        <a href="#buscarPorID"><button>Buscar por id</button></a><br/>
        <a href="/volverAInicio"><button>Volver a inicio</button></a><br/>
    </div>
    <div th:utext="${tabla}"></div>
    <div class="formularios">
        <form id="anyadirTipo" action="/anyadirTipo" method="post">
            <label for="nombreTipo">Introduce el nombre del nuevo Tipo: </label>
            <input type="text" name="nombre" placeholder="Nombre" required><br/>
            <button type="submit">Crear Tipo</button>
            <button><a href="/volverAInicio">Cancelar</a></button><br/>
        </form>
        <form id="buscarPorID" action="/buscarPorID" method="post">
            <label for="codigoTipo">Introduce el código del Tipo a buscar: </label>
            <input type="text" name="codigoTipo" placeholder="Código" required><br/>
            <button type="submit">Buscar Tipo</button>
            <button><a href="/volverAInicio">Cancelar</a></button><br/>
        </form>
    </div>
</body>
</html>
